.album-details-section {
  display: flex;
  flex-direction: row;
}

.album-image {
  width: 200px;
  height: 200px;
}

.album-details-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
}

.columns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column-name {
  font-size: 16px;
  color: #f8fafc;
  font-weight: 600;
}
